@charset "utf-8";
/* CSS Document */

*
    {
    font-family:'Lato', sans-serif;
    }


.header
    {
    position: relative; 
    padding: 60px; 
    padding-bottom: 10px; 
    text-align: center;
    background: #4CAF50; 
    color: white;  
    }

.header h1
    {
    font-size: 80px; 
    color: black; 
    font-family: 'Anton', sans-serif;
    }

.header p
{
    font-size: 30px; 
    font-family: 'Anton', sans-serif;
    }

.nav 
    {
    position: relative; 
    background-color: black; 
    color: white; 
    top: 0; 
    overflow: hidden; 
    width: 100%; 
    float: left;  
    }

.nav ul
    {
    float: left; 
    list-style-type: none;
    position: relative; 
    margin: 0 auto; 
    padding: 0; 
    }

.nav li
    {
    float: left; 
    }

.nav li a 
    {
    display: block;
    padding: 30px 30px;
    text-decoration: none;
    color: white;
    text-align: center;  
    }

.nav li a:hover
    {      
    background-color: #ddd; 
    color: black; 
    }

.primates 
    {
    top: 80px; 
    left: 0px; 
    }

.hominizacion
    {
    top: 60px; 
    left: 0px;
    }

.primatesdiv
    {
    color: white; 
    background: #4CAF50; 
    margin: auto; 
    width: 50%; 
    text-align: center;
    margin-top: 8px; 
    }

button {
        background-color: black; 
        border: none;
        color: white;
        padding: 15px 32px; 
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }


/* Id contenedor de los distintos apartados */
#contenedor
    {
    background-color: white; 
    border-style: none; 
    }

/* Imagen árbol filogenético */
.tree
    {
    max-width: 56%;  
    height: auto; 
    display: block; 
    margin-left: auto;
    margin-right: auto; 
    }



/* Pack de tablas */
#tabla
    {
    font-family:Arial, Helvetica, sans-serif; 
    border-collapse: collapse; 
    width: 50%;   
    }

#tabla tr:nth-child(even)
    {
    background-color: #f2f2f2; 
    }

#tabla tr:hover
    {
    background-color:#ddd; 
    }

#tabla th
    {
    padding-top: 12px;
    padding-bottom: 12px;
    width: 120px;  
    text-align: left;
    background-color: #33334d;
    color: white;
    }

/* Barras blancas de skills */
#myProgress
    {
    background-color: white; 
    width: 50%; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    color: white; 
    }

/* Barras verdes de skills */
#myBarHTML, #myBarCSS, #myBarBG, #myBarJS
    {
    background-color:#376137; 
    width: 1%; 
    }

/* Botón de skills */
.button
    {
    background-color: black; 
    border: none; 
    color: white; 
    padding: 15px 32 px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 20 px; 
    margin: 8px 4px; 
    cursor: pointer; 
    }

footer
    {
    position: relative; 
    background-color: black; 
    color: white; 
    bottom: 0; 
    width: 100%; 
    text-align: center; 
    margin-top: 8px; 
    }

/* Estilo de los iconos del footer */
.fab
    {
    color: white; 
    }

